{% extends 'nav.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Registrar | Transaccion</title>
<link rel="icon" href="{% static 'img/logo2.png' %}" type="image/jpeg" />
<script src="https://cdn.tailwindcss.com"></script>
<!-- Cargando Tailwind CSS -->
{% endblock %} {% block content %}
<!-- Mostrar mensajes de éxito o error -->
{% if messages %}
<div class="mb-4">
  {% for message in messages %} {% if 'success' in message.tags %}
  <p class="bg-green-100 text-green-700 p-4 mb-4 text-sm rounded-lg">
    {{ message }}
  </p>
  {% elif 'error' in message.tags %}
  <p class="bg-red-100 text-red-700 p-4 mb-4 text-sm rounded-lg">
    {{ message }}
  </p>
  {% elif 'warning' in message.tags %}
  <p class="bg-yellow-100 text-yellow-700 p-4 mb-4 text-sm rounded-lg">
    {{ message }}
  </p>
  {% elif 'info' in message.tags %}
  <p class="bg-blue-100 text-blue-700 p-4 mb-4 text-sm rounded-lg">
    {{ message }}
  </p>
  {% else %}
  <p class="bg-gray-100 text-gray-700 p-4 mb-4 text-sm rounded-lg">
    {{ message }}
  </p>
  {% endif %} {% endfor %}
</div>
{% endif %}
<!-- Contenedor para mensajes de error generados por JavaScript -->
<div id="js-error-messages" class="mb-4"></div>
<!-- Formulario de registrar transacción -->
<div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-2xl font-bold mb-6">Registrar Transacción</h1>
  <form method="POST" action="{% url 'registrar_transaccion' %}">
    {% csrf_token %}
    <!-- Fecha -->
    <div class="mb-4">
      <label for="fecha" class="block text-gray-700">Fecha:</label>
      <input
        type="date"
        id="fecha"
        name="fecha"
        required
        value="2024-10-22"
        class="w-full p-2 border border-gray-300 rounded-md"
      />
    </div>

    <!-- Periodo Contable -->
    <div class="mb-4">
      <label for="periodo" class="block text-gray-700">Periodo Contable:</label>
      <select
        id="periodo"
        name="periodo"
        required
        class="w-full p-2 border border-gray-300 rounded-md"
      >
        {% for periodo in periodos %}
        <option value="{{ periodo.id }}">
          {{ periodo.nombre }} ({{ periodo.fecha_inicio }} - {{
          periodo.fecha_fin }})
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Asiento Contable -->
    <div class="mb-4">
      <label for="asiento" class="block text-gray-700">Asiento Contable:</label>
      <select
        id="asiento"
        name="asiento"
        required
        class="w-full p-2 border border-gray-300 rounded-md"
      >
        {% for asiento in asientos %}
        <option value="{{ asiento.id }}">
          Asiento {{ asiento.id }} - {{ asiento.descripcion }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Código de cuenta (lista desplegable)-->
    <div class="mb-4">
      <label for="codigo_cuenta" class="block text-gray-700"
        >Código de Cuenta:</label
      >
      <select
        id="codigo_cuenta"
        name="codigo_cuenta"
        required
        class="w-full p-2 border border-gray-300 rounded-md"
      >
        {% for cuenta in cuentas %}
        <option value="{{ cuenta.id }}">
          {{ cuenta.codigo_cuenta }} - {{ cuenta.nombre_cuenta }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Debe y Haber -->
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <label for="debe" class="block text-gray-700">Debe:</label>
        <input
          type="number"
          id="debe"
          name="debe"
          step="0.01"
          placeholder="0.00"
          class="w-full p-2 border border-gray-300 rounded-md"
        />
      </div>
      <div>
        <label for="haber" class="block text-gray-700">Haber:</label>
        <input
          type="number"
          id="haber"
          name="haber"
          step="0.01"
          placeholder="0.00"
          class="w-full p-2 border border-gray-300 rounded-md"
        />
      </div>
    </div>

    <!-- Botón para añadir fila a la tabla -->
    <div class="mb-4">
      <button
        type="button"
        id="add-row"
        class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
      >
        Añadir Fila
      </button>
    </div>

    <!-- Tabla para mostrar las filas añadidas -->
    <table
      id="transacciones-table"
      class="min-w-full bg-white rounded-lg shadow-md overflow-hidden border border-gray-200"
    >
      <thead class="bg-blue-500 text-white">
        <tr>
          <th class="px-4 py-2">Código de Cuenta</th>
          <th class="px-4 py-2">Descripción</th>
          <th class="px-4 py-2">Debe</th>
          <th class="px-4 py-2">Haber</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- Las filas añadidas aparecerán aquí -->
      </tbody>
    </table>

    <!-- Descripción de la transacción -->
    <div class="mt-4">
      <label for="descripcion" class="block text-gray-700">Descripción:</label>
      <textarea
        id="descripcion"
        name="descripcion"
        rows="4"
        cols="50"
        placeholder="Descripción general de la transacción"
        class="w-full p-2 border border-gray-300 rounded-md"
      ></textarea>
    </div>

    <!-- Botón para guardar/cancelar la transacción -->
    <div class="mt-6 flex justify-between space-x-4">
      <button
        type="submit"
        class="bg-green-500 text-white p-2 rounded hover:bg-green-600 w-full"
      >
        Guardar Transacción
      </button>
      <a
        href="{% url 'gestionar_transacciones' %}"
        class="bg-red-500 text-white p-3 rounded hover:bg-red-600 w-full text-center"
        >Cancelar</a
      >
    </div>
  </form>
</div>
{% endblock %} {% block scripts %}
<script>
  // Lógica para añadir filas a la tabla
  document.getElementById("add-row").addEventListener("click", function () {
    const debeInput = document.getElementById("debe");
    const haberInput = document.getElementById("haber");
    const errorMessageContainer = document.getElementById("js-error-messages");

    // Limpiar mensajes de error previos
    errorMessageContainer.innerHTML = "";

    // Validar que no haya datos en ambos campos al mismo tiempo
    if (debeInput.value && haberInput.value) {
      const errorMessage = document.createElement("p");
      errorMessage.className =
        "bg-red-100 text-red-700 p-4 mb-4 text-sm rounded-lg";
      errorMessage.textContent =
        "No debe haber datos en Debe y Haber al mismo tiempo.";
      errorMessageContainer.appendChild(errorMessage);
      return;
    }

    // Validar que los valores no sean negativos
    if (debeInput.value < 0 || haberInput.value < 0) {
      const errorMessage = document.createElement("p");
      errorMessage.className =
        "bg-red-100 text-red-700 p-4 mb-4 text-sm rounded-lg";
      errorMessage.textContent = "No debe haber datos negativos.";
      errorMessageContainer.appendChild(errorMessage);
      debeInput.value = "";
      haberInput.value = "";
      return;
    }

    const codigoCuenta = document.getElementById("codigo_cuenta").value;
    const codigoCuentaText =
      document.getElementById("codigo_cuenta").selectedOptions[0].text;
    const debe = debeInput.value || "0.00";
    const haber = haberInput.value || "0.00";

    // Crear una nueva fila en la tabla
    const newRow = `<tr>
                            <td class="border px-4 py-2">${codigoCuentaText}</td>
                            <td class="border px-4 py-2">${
                              debe > 0 ? "Debe" : "Haber"
                            }</td>
                            <td class="border px-4 py-2">${debe}</td>
                            <td class="border px-4 py-2">${haber}</td>
                            <input type="hidden" name="codigo_cuenta" value="${codigoCuenta}">
                            <input type="hidden" name="debe" value="${debe}">
                            <input type="hidden" name="haber" value="${haber}">
                        </tr>`;

    // Insertar la fila en el cuerpo de la tabla
    document
      .querySelector("#transacciones-table tbody")
      .insertAdjacentHTML("beforeend", newRow);

    // Limpiar los inputs
    debeInput.value = "";
    haberInput.value = "";
  });
</script>
{% endblock %}
